{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Blogs Section ======= -->

<section class="vh-150" style="background-color: #eee;">
    <div class="container mt-5">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-20">
                <form method="get" action="{% url 'list_blogs' %}">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input name="q" type="text" class="form-control" placeholder="Search Blog">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% if not has_data %}
                <div class="col-md-12">
                    <h3 class="text-center"> No Blogs Found </h3>
                </div>
            {% endif %}
                {% for blog in blogs_with_pagination %}
                    <div class="col-md-4">
                        <div class="card p-3">
                             <div class="d-flex flex-row mb-3">
                                    <img height="200px" src="{{ blog.image }}" width="100%">
                         </div>
                            <h6>{{ blog.title }}</h6>
                            <div class="d-flex justify-content-between install mt-3">
                                <a href="{% url 'blog_detail_page' blog_id=blog.id %}" class="btn btn-primary">
                            View Blog
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<nav aria-label="Page navigation example" style="background-color: #eee">
    <ul class="pagination justify-content-center">
        {% if blogs_with_pagination.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ blogs_with_pagination.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for page_num in blogs_with_pagination.paginator.page_range %}
        <li class="page-item {% if blogs_with_pagination.number == page_num %}active{% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}

        {% if blogs_with_pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ blogs_with_pagination.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
